	body {
		font-family: 'Overpass', sans-serif;
		padding: 0;
		margin: 0;
	}

	a {
		text-decoration: none !important;
	}

	*,
	::after,
	::before {
		box-sizing: border-box;
	}

	/* component pendukung */
	.text-center {
		text-align: center;
	}

	.text-right {
		text-align: right;
	}

	.text-left {
		text-align: left;
	}

	.d-flex {
		display: flex;
	}

	.justify-content-center {
		justify-content: center;
	}

	.align-items-center {
		align-items: center;
	}

	.c-pointer {
		cursor: pointer;
	}

	.flex-column {
		flex-direction: column;
	}

	.p-relative {
		position: relative;
	}

	.container {
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}

	@media (min-width: 768px) {
		.container {
			width: 750px;
		}
	}

	@media (min-width: 992px) {
		.container {
			width: 970px;
		}
	}

	@media (min-width: 1200px) {
		.container {
			width: 1170px;
		}
	}

	.row {
		display: flex;
		flex-wrap: wrap;
	}

	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-lg-1,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12,
	.col-xl-1,
	.col-xl-2,
	.col-xl-3,
	.col-xl-4,
	.col-xl-5,
	.col-xl-6,
	.col-xl-7,
	.col-xl-8,
	.col-xl-9,
	.col-xl-10,
	.col-xl-11,
	.col-xl-12 {
		width: 100%;
	}

	@keyframes fadeEffect {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	.column {
		float: left;
	}

	@media only screen and (max-width: 767px) {
		.col-sm-1 {
			width: 8.333333%;
		}

		.col-sm-2 {
			width: 16.666667%;
		}

		.col-sm-3 {
			width: 25%;
		}

		.col-sm-4 {
			width: 33.333333%;
		}

		.col-sm-5 {
			width: 41.666667%
		}

		.col-sm-6 {
			width: 50%;
		}

		.col-sm-7 {
			width: 58.333333%;
		}

		.col-sm-8 {
			width: 66.666667%;
		}

		.col-sm-9 {
			width: 75%
		}

		.col-sm-10 {
			width: 83.333333%;
		}

		.col-sm-11 {
			width: 91.666667%;
		}

		.col-sm-12 {
			width: 100%
		}
	}

	@media only screen and (min-width: 768px) {
		.col-md-1 {
			width: 8.333333%;
		}

		.col-md-2 {
			width: 16.666667%;
		}

		.col-md-3 {
			width: 25%;
		}

		.col-md-4 {
			width: 33.333333%;
		}

		.col-md-5 {
			width: 41.666667%
		}

		.col-md-6 {
			width: 50%;
		}

		.col-md-7 {
			width: 58.333333%;
		}

		.col-md-8 {
			width: 66.666667%;
		}

		.col-md-9 {
			width: 75%
		}

		.col-md-10 {
			width: 83.333333%;
		}

		.col-md-11 {
			width: 91.666667%;
		}

		.col-md-12 {
			width: 100%
		}
	}

	@media only screen and (min-width: 992px) {
		.col-lg-1 {
			width: 8.333333%;
		}

		.col-lg-2 {
			width: 16.666667%;
		}

		.col-lg-3 {
			width: 25%;
		}

		.col-lg-4 {
			width: 33.333333%;
		}

		.col-lg-5 {
			width: 41.666667%
		}

		.col-lg-6 {
			width: 50%;
		}

		.col-lg-7 {
			width: 58.333333%;
		}

		.col-lg-8 {
			width: 66.666667%;
		}

		.col-lg-9 {
			width: 75%
		}

		.col-lg-10 {
			width: 83.333333%;
		}

		.col-lg-11 {
			width: 91.666667%;
		}

		.col-lg-12 {
			width: 100%
		}

	}

	@media only screen and (min-width: 1200px) {
		.col-xl-1 {
			width: 8.333333%;
		}

		.col-xl-2 {
			width: 16.666667%;
		}

		.col-xl-3 {
			width: 25%;
		}

		.col-xl-4 {
			width: 33.333333%;
		}

		.col-xl-5 {
			width: 41.666667%
		}

		.col-xl-6 {
			width: 50%;
		}

		.col-xl-7 {
			width: 58.333333%;
		}

		.col-xl-8 {
			width: 66.666667%;
		}

		.col-xl-9 {
			width: 75%
		}

		.col-xl-10 {
			width: 83.333333%;
		}

		.col-xl-11 {
			width: 91.666667%;
		}

		.col-xl-12 {
			width: 100%
		}

	}




	/* start css navigation bar */
	.navbar-custom {
		padding: 15px 0;
		background: #7D0739;

	}

	.navbar-custom .nav-group {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #ffff;
	}

	.navbar-custom .nav-group .nav-item a i {
		padding-right: 10px;
		color: #fff !important;
	}

	.navbar-custom .nav-group .nav-item a .logo-brand {
		width: 84px;
		height: 62px;
		margin-right: 10px;
	}

	.navbar-custom .nav-group .nav-brand a {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding: 0 10px;
		justify-content: center;
	}

	.navbar-custom .nav-group .nav-item .text-nav {
		color: #ffff;
		font-size: 16px;
	}

	.navbar-custom .nav-group .nav-brand .text-nav {
		font-size: 24px;
		text-align: center;
		line-height: 2;
		color: #ffff;
	}

	.navbar-custom .nav-group .nav-item a .icon-mobile {
		display: none;
		font-size: 24px;
		padding: 0 !important;
		color: #ffff;
	}

	/* component form group with or without label */
	.form-group {
		width: 100%;
		padding: 7.5px 0;
	}

	.form-group label {
		display: inline-block;
		margin-bottom: .5rem;
		font-size: 16px;
	}

	.form-group .sub-label {
		font-size: 14px;
		display: inline-block;
		margin-top: 10px;
	}

	.form-group .form-control {
		width: 100%;
		outline: none;
		padding: 15px;
		border: 1px #BDBDBD solid;
		color: #1A1818;		
		font-size: 15px;
		border-radius: 5px;
	}

	.form-group .form-control:disabled {
		background: #E5E5E5;
	}

	.form-group .form-control:focus {
		border: 1px #E8126B solid !important;
	}

	.form-group select {
		padding: 15px 10px !important;
		-moz-appearance: none;		
		padding-right: 30px !important;
		-webkit-appearance: none;
		appearance: none;
		background-image: url('../images/polygon.png');
		background-repeat: no-repeat, repeat;
		background-position: right .9em top 50%, 0 0;
		background-size: .65em auto, 100%;
	}
	select::-ms-expand {
		display: none;
	  }
	.form-group select:required:invalid {
		color: #BDBDBD;
	}

	.form-group select option[value=""][disabled] {
		display: none;
	}

	.form-group select option {
		color: black;
	}


	.form-group .form-control::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #BDBDBD;
		opacity: 1;
		/* Firefox */
	}

	.form-group .form-control:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: #BDBDBD;
	}

	.form-group .form-control::-ms-input-placeholder {
		/* Microsoft Edge */
		color: #BDBDBD;
	}

	/* end css navigation bar */
	.content-wrapper {
		padding: 25px 0;
		background: #D4ACC3;
	}

	.heading-content {
		font-size: 20px;
		margin-block-start: 0;
		margin-block-end: 0;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.title-content {
		font-size: 16px;
		margin-block-start: 0;
		margin-block-end: 0;
		padding-top: 20px;
		font-weight: normal;
		padding-bottom: 10px;
	}

	.box-content {
		margin-top: 30px;
		padding: 50px 25px;
		background: #ffff;
		border-radius: 5px;
	}

	.text-forgot-password {
		padding: 30px 0 0 0;
	}

	.text-forgot-password a {
		text-decoration: none;
		color: #1A1818;
		font-size: 16px;
	}

	.text-forgot-password a:hover {
		color: #AA084B;
	}

	.btn-submit {
		width: 250px;
		height: 50px;
		color: #ffff;
		margin-top: 10px;
		font-size: 16px;
		background: #AA084B;
		font-weight: 600;
		border-radius: 50px;
		border: 0;
		outline: none;
		text-decoration: none;
		-webkit-transition: all 0.15s ease;
		-moz-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	.btn-submit:hover {
		background: #42021D !important;

	}

	.box-subcontent {
		color: #1A1818;
		font-size: 16px;
		padding-top: 30px;
		padding-bottom: 15px;
	}

	.box-subcontent a {
		color: #AA084B;
		text-decoration: none;
		font-weight: bold !important;
	}

	.footer-wrapper {
		background: #42021D;
		padding: 30px 0;
		color: #fff;
	}

	.footer-wrapper .footer-title {
		font-size: 18px;
		font-weight: normal;
		padding-top: 15px;
	}

	.footer-wrapper .footer-description {
		font-size: 16px;
		font-weight: 300;
		line-height: 2;
		padding-top: 15px;
	}

	.footer-copy-wrapper {
		background: #7D0739;
		color: #ffff;
		padding: 20px 0;
		font-size: 16px;
		font-weight: 300;
	}

	.footer-copy-wrapper .footer-copy-right-element {
		display: flex;
		justify-content: flex-end;
	}

	.footer-copy-wrapper .footer-copy-right-element a {
		text-decoration: none !important;
		color: #fff !important;
	}

	.mr-25 {
		margin-right: 25px;
	}

	.mt-25 {
		margin-top: 25px;
	}
	.navbar-custom .nav-item{
		width: 100%;
	}
	.navbar-custom .nav-item:first-child, .navbar-custom .nav-item:last-child{
		width: 50% !important;
	} 
	@media(max-width:767px) {
		.footer-copy-wrapper .footer-copy-right-element {
			display: none !important;
		}

		.footer-copy-left-element {
			text-align: center;
			font-size: 14px;
		}

		.footer-wrapper .footer-description {
			font-size: 14px;
		}

		.footer-wrapper .footer-title {
			font-size: 16px;
		}

		.navbar-custom .nav-group .nav-brand .text-nav {
			font-size: 18px;
		}

		.navbar-custom .nav-group .nav-item a .logo-brand {
			width: 47px;
			height: 35px;
		}

		.btn-submit {
			font-size: 15px;
		}

		.box-subcontent {
			font-size: 15px;
		}

		.form-group .form-control {
			font-size: 15px;
		}

		.text-forgot-password a {
			font-size: 15px;
		}

		.heading-content {
			font-size: 18px;
		}

		.icon-desktop,
		.text-desktop {
			display: none !important;
		}

		.icon-mobile {
			display: block !important;
		}

		.title-content {
			font-size: 15px;
		}

		.alert-box {
			font-size: 15px !important;
		}
		.navbar-custom .nav-item:first-child, .navbar-custom .nav-item:last-child{
			width: auto !important;
		} 
	}
	
	@media(max-width:320px) {
		.navbar-custom .nav-group .nav-item a .icon-mobile {
			font-size: 20px;
		}

		.navbar-custom .nav-group .nav-item a .logo-brand {
			width: 47px;
			height: 35px;
		}

		.navbar-custom .nav-group .nav-brand .text-nav {
			font-size: 16px;
		}

		.heading-content {
			font-size: 16px;
		}

		.form-group .form-control {
			font-size: 12px;
		}

		.text-forgot-password a {
			font-size: 14px;
		}

		.btn-submit {
			font-size: 14px;
		}

		.box-subcontent {
			font-size: 14px;
		}

		.footer-wrapper .footer-title {
			font-size: 15px;
		}

		.footer-wrapper .footer-description {
			font-size: 13px;
		}

		.footer-copy-left-element {
			font-size: 13px;
		}

		.title-content {
			font-size: 14px;
		}

		.alert-box {
			font-size: 13px !important;
		}

		.form-group label {
			font-size: 13px !important;
		}

		.form-group .sub-label {
			font-size: 11px !important;
		}
	}

	/* alert component */
	.bg-danger {
		background: #FC6666 !important;
	}

	.bg-success {
		background: #74E378 !important;
	}

	.alert-box {
		padding: 15px;
		border-radius: 5px;
		font-weight: 300;
		color: white;
		font-size: 16px;
		margin-bottom: 10px;
	}

	.alert-box .btn-close-alert {
		margin-left: 15px;
		color: white;
		font-weight: bold;
		float: right;
		font-size: 22px;
		cursor: pointer;
		transition: 0.3s;
		padding: 0 !important;
		position: relative;
		top: -4px;
	}

	.alert-box .btn-close-alert:hover {
		color: black;
	}

	/* end alert component */

	.icon-show-password {
		position: absolute;
		right: 10px;
		top: 23px;
		font-size: 20px !important;
		color: #bfbfbf;
	}

	.error-input-border {
		border: 1px #E8126B solid !important;
	}

	/* dashboard  */
	.dashboard-wrapper {
		padding: 40px 0;
		background: #D4ACC3;
	}

	.dashboard-wrapper .user-profile-group-menu {
		border-bottom: 2px #E8126B solid;
		padding-bottom: 10px;
		margin: 0 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	@media(max-width:767px) {
		.dashboard-wrapper .user-profile-group-menu {
			margin: 0 !important;
		}
	}

	.dashboard-wrapper .user-profile-group-menu .user-group {
		display: flex;
		align-items: center;
	}

	.dashboard-wrapper .user-profile-group-menu .user-group .user-description {
		display: flex;

	}

	.dashboard-wrapper .user-profile-group-menu .user-group .user-description h5 {
		margin-block-start: 0;
		font-size: 18px;
		margin-block-end: 0;
		padding-right: 5px;
	}

	.dashboard-wrapper .user-profile-group-menu .user-group .user-description span {
		color: #2DA832;
		font-size: 14px;
		font-style: italic;
		font-weight: bold;
		/* position: relative;
		top: 3px;		 */
	}

	.dashboard-wrapper .user-profile-group-menu .user-group .user-vector i {
		font-size: 24px;
		color: #7D0739;
		margin-right: 10px;
	}

	.dashboard-wrapper .user-profile-group-menu .menu-group a {
		padding: 0 10px;
		color: #1A1818;
	}

	.dashboard-wrapper .user-profile-group-menu .menu-group .active {
		color: #AA084B;
		font-weight: bold;
	}

	.dashboard-wrapper .user-profile-group-menu .menu-group a:last-child {
		padding-right: 0 !important;
	}

	@media(max-width:767px) {
		.dashboard-wrapper .user-profile-group-menu .menu-group {
			display: none;
		}

		.dashboard-wrapper .user-profile-group-menu .user-group {
			justify-content: center;
		}

		.dashboard-wrapper .user-profile-group-menu .user-group .user-description h5 {
			font-size: 16px !important;
		}

		.dashboard-wrapper .user-profile-group-menu .user-group .user-description span {
			font-size: 13px;
		}
	}

	@media(max-width:320px) {
		.dashboard-wrapper .user-profile-group-menu .user-group .user-description h5 {
			font-size: 15px !important;
		}

		.dashboard-wrapper .user-profile-group-menu .user-group .user-description span {
			font-size: 12px;
		}
	}

	.widget-dashboard-group {
		margin-top: 25px;
	}

	.widget-dashboard-group .widget-dashboard-column {
		padding: 7.5px 15px;
	}

	@media(max-width:767px) {
		.widget-dashboard-group .widget-dashboard-column {
			padding: 7.5px 0;
		}
	}

	.bg-yellow {
		background: #E8CB6B;
	}

	.bg-pink {
		background: #E175A2;
	}

	.bg-green {
		background: #49848E;
	}

	.widget-dashboard-group .widget-dashboard-column .widget-dashboard-element {
		display: flex;
		height: 100%;
		flex: 1 0 auto;
		padding: 25px 10px;
		border-radius: 5px;
	}

	.widget-dashboard-group .widget-dashboard-column .widget-dashboard-element .widget-dashboard-heading {
		margin-block-start: 0;
		margin-block-end: 0;
		font-size: 24px;
		padding-top: 5px;
		text-align: center;
	}

	.widget-dashboard-group .widget-dashboard-column .widget-dashboard-element .widget-dashboard-description {
		margin-block-start: 0;
		margin-block-end: 0;
		font-size: 18px;
		padding-top: 15px;
		color: #fff;
		text-align: center;
	}

	.transaction-group {
		padding: 0 15px;
	}

	@media(max-width:767px) {
		.transaction-group {
			padding: 0 !important;
		}
	}

	.transaction-group .title-transaction {
		font-size: 16px;
		margin-block-end: 0;
		padding-bottom: 15px;
	}

	.transaction-group .table-transaction {
		width: 100%;
		border-spacing: 0 !important;
		border-radius: 5px;
		min-width: 450px;
		margin-top: 5px;
		border-color: transparent;
	}

	.transaction-group .table-transaction thead {
		background: #AA084B;
		color: #fff;
		border-top-right-radius: 5px;
		border-top-left-radius: 50px;
	}

	.transaction-group .table-transaction thead tr th {
		padding: 15px 15px;
		font-weight: 400;
		font-size: 16px;
	}

	.transaction-group .table-transaction tbody tr {
		background: #fff;
	}

	.transaction-group .table-transaction tbody tr td {
		padding: 15px;
		font-size: 16px;
	}

	.transaction-group .table-transaction tbody tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	.transaction-group .btn-view-more-transaction {
		background: #E175A2;
		color: #ffff;
		width: 100%;
		padding: 15px;
		border: 0 !important;
		outline: none !important;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		-webkit-transition: all 0.15s ease;
		-moz-transition: all 0.5s ease;
		transition: all 0.5s ease;
		cursor: pointer;
	}

	.transaction-group .btn-view-more-transaction:hover {
		background: #42021D !important;
	}

	@media(max-width:767px) {
		.transaction-group .table-transaction thead tr th {
			font-size: 15px;
		}

		.transaction-group .table-transaction tbody tr td {
			font-size: 15px;
		}

		.transaction-group .btn-view-more-transaction {
			font-size: 15px;
		}

		.widget-dashboard-group .widget-dashboard-column .widget-dashboard-element .widget-dashboard-heading {
			font-size: 20px;
		}

		.widget-dashboard-group .widget-dashboard-column .widget-dashboard-element .widget-dashboard-description {
			font-size: 17px;
		}

		.transaction-group .btn-view-more-transaction {
			font-size: 15px;
		}
	}

	@media(max-width:320px) {
		.transaction-group .table-transaction thead tr th {
			font-size: 14px;
		}

		.transaction-group .table-transaction tbody tr td {
			font-size: 14px;
		}

		.widget-dashboard-group .widget-dashboard-column .widget-dashboard-element .widget-dashboard-heading {
			font-size: 18px;
		}

		.widget-dashboard-group .widget-dashboard-column .widget-dashboard-element .widget-dashboard-description {
			font-size: 15px;
		}

		.transaction-group .title-transaction {
			font-size: 15px;
		}

		.transaction-group .btn-view-more-transaction {
			font-size: 14px;
		}
	}

	.transaction-group .table-responsive {
		width: 100%;
		overflow-x: auto;
	}

	.transaction-group .transaction-form-group {
		background: #fff;
		padding: 30px 100px;
		margin-top: 20px;
		border-radius: 5px;
	}

	.input-custom-balance {
		background: #E8126B !important;
		color: #fff !important;
		text-align: center;
		font-weight: bold;
		font-size: 18px !important;
	}

	.label-with-text-right {
		display: flex;
		flex-wrap: wrap;
		font-size: 16px;
		margin-bottom: .5rem;
		justify-content: space-between;
	}

	.label-with-text-right .second-label {
		color: #E8126B;
		text-align: right;
	}

	@media(max-width:767px) {
		.transaction-group .transaction-form-group {
			padding: 30px 25px !important;
		}

		.form-group label {
			font-size: 15px;
		}

		.label-with-text-right {
			font-size: 15px;
		}

		.input-custom-balance {
			font-size: 17px !important;
		}
	}

	@media(max-width:320px) {
		.label-with-text-right {
			font-size: 13px;
		}

		.transaction-group .transaction-form-group {
			padding: 20px 15px !important;
		}

		.input-custom-balance {
			font-size: 16px !important;
		}
	}

	.description-transaction-form {
		font-size: 14px;
		padding-top: 25px;
	}

	.pagination {
		display: flex;
		padding-left: 0;
		list-style: none;
		border-radius: .25rem;
		justify-content: center;
		margin: 30px 0;
		flex-wrap: wrap;
	}

	.pagination .page-item {
		margin: 0 5px 10px 5px;
	}

	.pagination .page-item .page-link {
		display: block;
		width: 33px;
		height: 33px;
		margin-left: -1px;
		border-radius: 5px;
		color: #1A1818 !important;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent !important;
		border: 1px solid #AA084B !important;
	}

	.pagination .page-item:first-child .page-link,
	.pagination .page-item:last-child .page-link {
		border-radius: 100px !important;
	}

	.pagination .page-item .page-link:hover {
		background: #AA084B !important;
		color: #fff !important;
	}

	.pagination .page-item.disabled .page-link {
		color: #6c757d;
		pointer-events: none;
		cursor: auto;
		background-color: #fff;
		border-color: #dee2e6;
	}

	.pagination .active .page-link {
		background: #AA084B !important;
		color: #fff !important;
	}

	@media(max-width:767px) {
		.pagination .page-item .page-link {
			font-size: 14px !important;
			width: 30px !important;
			height: 30px !important;
		}
	}

	.navigation-bottom-mobile {
		position: sticky;
		bottom: 0;
		width: 100%;
		display: none !important;
		padding: 5px 0;
		background: #AA084B;
		box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.20);
	}

	.navigation-bottom-mobile .navigation-bottom-group {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		height: 100%;
	}

	.navigation-bottom-mobile .navigation-bottom-group .navigation-bottom-element {
		background: transparent;
		color: #fff;
		border: 0 !important;
		outline: none !important;
		margin: 10px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.navigation-bottom-mobile .navigation-bottom-group .navigation-bottom-element .icon-navigation {
		font-size: 22px;
	}

	.navigation-bottom-mobile .navigation-bottom-group .navigation-bottom-element .text-navigation {
		font-size: 16px;
		padding-top: 7px;
	}

	@media(max-width:467px) {
		.navigation-bottom-mobile .navigation-bottom-group .navigation-bottom-element {
			width: auto !important;
		}

		.navigation-bottom-mobile .navigation-bottom-group .navigation-bottom-element .icon-navigation {
			font-size: 20px;
		}

		.navigation-bottom-mobile .navigation-bottom-group .navigation-bottom-element .text-navigation {
			font-size: 15px;
		}
	}

	@media(max-width:320px) {
		.navigation-bottom-mobile .navigation-bottom-group .navigation-bottom-element .icon-navigation {
			font-size: 18px;
		}

		.navigation-bottom-mobile .navigation-bottom-group .navigation-bottom-element .text-navigation {
			font-size: 13px;
		}

		.box-content {
			padding: 30px 15px !important;
		}
	}

	.navigation-bottom-mobile .navigation-bottom-group .active .navigation-bottom-element {
		color: #FFC500;
	}

	@media(min-width:768px) {
		.footer-copy-with-navigation-bottom {
			margin-bottom: 0 !important;
		}
	}

	@media(max-width:767px) {

		.navigation-bottom-mobile {
			display: block !important;
		}
	}